apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
  namespace: demo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
        - name: demo-app
          image: jsegomez/demo-app:build-12
          ports:
            - containerPort: 5000

          # ---------- HEALTH CHECKS ----------
          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3

          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3

          # ---------- RESOURCE MANAGEMENT ----------
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"

          # ---------- ENV VARS ----------
          env:
            - name: NODE_ENV
              value: "production"

            - name: MONGO_URI
              valueFrom:
                secretKeyRef:
                  name: demo-app-secret
                  key: MONGO_URI

            - name: PORT
              valueFrom:
                secretKeyRef:
                  name: demo-app-secret
                  key: PORT

            - name: DATABASE_NAME
              valueFrom:
                secretKeyRef:
                  name: demo-app-secret
                  key: DATABASE_NAME

            - name: ALLOWED_DOMAINS
              valueFrom:
                secretKeyRef:
                  name: demo-app-secret
                  key: ALLOWED_DOMAINS

            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: demo-app-secret
                  key: JWT_SECRET

            - name: CLOUDINARY_URL
              valueFrom:
                secretKeyRef:
                  name: demo-app-secret
                  key: CLOUDINARY_URL

            - name: CLOUDINARY_CLOUD_NAME
              valueFrom:
                secretKeyRef:
                  name: demo-app-secret
                  key: CLOUDINARY_CLOUD_NAME

            - name: CLOUDINARY_API_KEY
              valueFrom:
                secretKeyRef:
                  name: demo-app-secret
                  key: CLOUDINARY_API_KEY

            - name: CLOUDINARY_API_SECRET
              valueFrom:
                secretKeyRef:
                  name: demo-app-secret
                  key: CLOUDINARY_API_SECRET
